<div class="header">
  
  <nav class="navbar navbar-expand-md navbar-dark fixed-top">

    <a class="navbar-brand p-3" href="#">Yoeri van Bruchem</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-menu-custom nav_menu_color" id="navbarCollapse">
      <ul class="navbar-nav justify-content-menu-custom">
        

        {% for item in site.data.navbar %}
        
          {% if item.type == "standard" %}
          <li class="nav-item {% if item.name == site.data.navbar.last.name %} last {% endif %} p-3"><a href="{{item.link}}">{{ item.name }}</a></li>
          {% elsif item.type == "multimenu" %}
          
          <li class="nav-item {% if item.name == site.data.navbar.last.name %} last {% endif %} dropdown p-3">
            
            
            <a href="{{item.link}}">{{ item.name }}</a>
          
          
            <ul class="dropdown-menu">

              <div class="dropdown-menu-content">
                <span><i class="fas fa-project-diagram"></i> <h5> {{ item.multimenu_title }} </h5></span>
                <span><p> {{ item.multimenu_description }} </p></span>

                <style>

                 
    
                </style>

                <table>
                  {% for multi_menu_item_category in item.multimenu_categories %}
                  <tr> 
                  
                  <th>{{ multi_menu_item_category.name }}</th>

                  {% for multi_menu_item_category_item in multi_menu_item_category.items%}
                  <td><li><a class="dropdown-item" href="{{ multi_menu_item_category_item.link }}">{{ multi_menu_item_category_item.name }}</a></li> </td>
                  {% endfor %}  

                </tr>   
                {% endfor %}               
                </table>

                

              </div>

              {% if item.multimenu_footer == true %}
              <div class="dropdown-footer"> 
                <span>
                  <i class="{{ item.multimenu_footer_content.icon }}"></i> <a href="{{ item.multimenu_footer_content.link }}" target="_blank"><p> {{ item.multimenu_footer_content.text }} </p></a>  
                
                </span>
              </div>

              {% endif %}

            </ul>
          {% endif %}
        {% endfor %}
      </ul>

      

    </div>

    <form class="form-inline my-2 my-lg-0 header_search_box" action="/search" method="get">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" id="search-box" name="query">
      <!-- <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>-->
    </form>

  </nav>






</div>
