//$base-color1: #b12790;
//$base-color2: #425ebc;
//$base_color3: #8c3bac;

$base-color1: #143C8C;
$base-color3: #1F598C;
$base_color2: #3698BF;

$text-color: #696869;
$text-color-subtle1: #acacac;
$text-color-subtle2: #cecece;

body{
    //color: linear-gradient(270deg, #7749ad, #425ebc, #913ab4, #b12790, #8c3bac);
}
