<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

<head>
  {% include head.html %}
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/page.css">
  <title>{{ site.title }} | {{page.title}} </title>

<!--<meta name="description" content="Page description. No longer than 155 characters." />-->
<meta name="description" content="{{ site.description }}">

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="{{ site.title }} | {{page.title}}">
<meta itemprop="description" content="{{ site.description }}">
<meta itemprop="image" content="{{ site.url }}{{page.image}}">

<!-- Twitter Card data -->
<meta name="twitter:card" content="{{ site.url }}{{page.image}}">
<meta name="twitter:site" content="@publisher_handle">
<meta name="twitter:title" content="{{ site.title }} | {{page.title}}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:creator" content="@author_handle">
<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image:src" content="{{ site.url }}{{page.image}}">

<!-- Open Graph data -->
<meta property="og:title" content="{{ site.title }} | {{page.title}}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:image" content="{{ site.url }}{{page.image}}" />
<meta property="og:description" content="{{ site.description }}" />
<meta property="og:site_name" content="{{ site.title }}" />
<!--<meta property="article:published_time" content="2013-09-17T05:59:00+01:00" />
<meta property="article:modified_time" content="2013-09-16T19:08:47+01:00" />
<meta property="article:section" content="Article Section" />
<meta property="article:tag" content="Article Tag" />
<meta property="fb:admins" content="Facebook numberic ID" />
-->


</head>

<body>


  {% include header.html %}

  <div class="content md_page">

    <div class="section first_section container">
      <div class="row section_content no-gutters">


        <div class="box col-sm-12 my-4">
          <img class="page_image" src="{{ site.baseurl }}{{page.image}}" alt="" />

          <div class="page_content">

            <h1 class="page_title"> {{page.title}} </h1>

            <p style="font-style: italic;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet purus gravida quis blandit turpis cursus in hac habitasse.</p>

            <div class="page_info">
              <img src="{{ site.baseurl }}{{page.author-image}}" alt="Avatar">
              <div class="info">
                <div class="author"> {{page.author}} </div>
                <div> <span class="date"> 05/05/2021 </span> </div>
              </div>

              <div class="social"> 
                <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this blog http://www.website.com." title="Share by Email"> <i class="fab fa-linkedin"></i> </a>
                <a> <i class="fab fa-instagram-square"></i> </a>
                <a href="https://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank" rel="noopener noreferrer"><i class="fas fa-envelope-square"></i> </a>
              </div>

            </div>

            {{ content }}

            <div class="copyright"> © 2020 - 2021 Yoeri van Bruchem </div>

          </div>

        </div>


      </div>
    </div>
  </div>





  {% include js-link.html %}

  <!-- This is a Markdown page. -->

</body>

</html>